.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.user-container {
  display: flex;
  flex-direction: column;
  /* justify-content: start; */
  align-items: center;
  width: 24rem;
  height: 40vh;
  border: 2px solid rgb(100, 97, 97);
  border-radius: 8px;
  margin: 10%;
  overflow: hidden;
}

.name-heading {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(179, 174, 174);
  height: 100px;
}

.user-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.internal-container {
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: aqua; */
}

.item-heading {
  padding-top: 10px;
}
.item-heading-company {
  text-align: center;
  margin-bottom: 30px;
}
