.main-container {
  display: flex;
  flex-direction: column;
  /* border: 2px solid red; */
}

.blog {
  margin-bottom: 40px;
  /* border: 1px solid rgb(141, 139, 139); */
  border: 2px solid #618685;
  margin: 20px;
  border-radius: 20px;
  overflow: hidden;
}

.title {
  color: #0080ff;
  font-size: 24px;
  /* margin: 1px; */
}

.header-class {
  display: flex;
  flex-direction: column;
  background-color: #deeaee;
  padding-left: 1.2rem;
  /* align-items: flex-start; */
}

.header-class p {
  font-size: 20px;
  margin: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.name {
  font-size: 13px !important ;
  color: rgb(102, 101, 101);
}
.middle-section {
  padding-left: 1.2rem;
  font-size: 18px !important;
}

.btn-container {
  display: flex;
  background-color: #deeaee;
  height: 6vh;
  align-items: center;
  padding-left: 1.2rem;
}

.btn {
  color: #0080ff;
  cursor: pointer;
}

.btn:hover {
  color: rgb(19, 53, 145);
}

.icons {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
  font-size: 3.5rem;
}

.comment-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: whitesmoke;
  margin: 0 1rem 2rem 1rem;
  padding: 1rem 0 1rem 1rem;
  border: 2px solid #618685;
  border-radius: 20px;
}

.comment-name .comment-email {
  font-size: 20px;
}

.user-name {
  font-size: 20px;
  color: black;
  text-decoration: none;
}
